.requests-div {
   padding: 0 2rem;
   max-height: 500px;
   max-width: 100rem;
    /* display: grid;
    grid-template-rows: max-content;   */
    /* width: max-content;
    display: inline-table; */
}

